/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= requier foundation

 */

 .rock {
   background-image: url(rock.gif);
   height: 6em;
   width: 10em;
   margin: auto;
   background-size: 100%;
   color: red;

 }

 .paper{
   background-image: url(paper.jpg);
   height: 6em;
   width: 10em;
   margin: auto;
   background-size: 97%;
   color: red;

 }
 h3{
   text-align: center;
 }

 .scissors{
   background-image: url(scissors.jpg);
   height: 6em;
   width: 10em;
   margin: auto;
   background-size: 100%;
   color: red;

 }

 .right{
   margin-left: 1em;
 }

 .button{
   margin: 2em;
 }
 .userInputBox{

 }
