/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= requier foundation

 */

 body{
   background-color: #B1C1E9;
 }
 .rock {
   background-image: url(rock.gif);
   height: 4em;
   width: 8em;
   background-size: 100%;
   color: yellow;
   margin-bottom: 0.5em;

 }

 .paper{
   background-image: url(paper.jpg);
   height: 4em;
   width: 8em;
   margin: auto;
   background-size: 97%;
   color: yellow;
   margin-left: 2em;
   margin-bottom: 0.5em;

 }

 .scissors{
   background-image: url(scissors.jpg);
   height: 4em;
   width: 8em;
   background-size: 100%;
   color: orange;
   margin-bottom: 0.5em;

 }

 h3{
   text-align: center;
 }

 .playerOne{
   color: #34AD2B;
 }

 .playerTwo{
   color: #1C5BEC;
 }


 .panel{
   margin-top: 1em;
   margin-bottom: 0em;
 }

 .right{
   margin-left: 1em;
 }

 .button{
   margin: 2em;
   margin-top: 0.5em;
   margin-bottom: 1em;
 }

 .userInputBox{
   background-color: white;
   margin-top: 1em;
 }
 .page{
   overflow: auto;
 }
 .picture{
   width: 2em;
   height: 1.5em;
   margin-left: 0.7em;
 }
 .footer {
  background-color: #E5473C;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  }

.fa-github{
  margin-right: 4em;
  margin-top: 1em;
  font-size: 1.6em;
  color: black;
}

.fa-linkedin{
  font-size: 1.6em
}
